src/main/mule/training-master-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-batch-ids" doc:id="4da00f29-b94c-48c3-9aa9-fbe85a1f33a9" >
		<http:request method="GET" doc:name="GET /batch/{trainerEmail}/ids" doc:id="b5253d9e-cf23-4892-915b-cc449810b622" config-ref="batch_ids_HTTP_Request_configuration" path="${batch-ids.path}/{email}/ids">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="34ce82a5-acad-4a05-8748-0543590225ba" />
	</flow>
	<flow name="get-trainer-info" doc:id="565c95fc-b478-4e30-baaa-915623ed8de2" >
		<http:request method="GET" doc:name="GET /batch/trainer/{trainerEmail}" doc:id="957dd756-9cb0-4ffb-9248-2583fdd01fe5" config-ref="caliber_HTTP_Request_configuration" path="${trainer.path}/{email}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="284e0165-8b5a-4a58-a8db-e3f0d9f40a0e" />
	</flow>
	<flow name="get-batch-info" doc:id="6352fea5-b2cb-4cff-8061-1c52c1982b14" >
		<http:request method="GET" doc:name="GET /batch/{batchId}" doc:id="306df3e6-fef3-4a09-a17c-303167e3dfb6" config-ref="caliber_HTTP_Request_configuration" path="${batch-ids.path}/{batchId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"batchId" : vars.batchId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f083c86b-480d-4b58-9825-0cd92389011d" />
	</flow>
</mule>
