target/classes/training-master-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="training-master-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="training-master-sapi-config" api="resource::77cab550-53a1-4b36-95a6-10c814008004:trainer-reports-sapi:1.0.1:raml:zip:training-master-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="training-master-sapi-main">
        <http:listener config-ref="training-master-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="training-master-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="training-master-sapi-console">
        <http:listener config-ref="training-master-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="training-master-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\batch:training-master-sapi-config">
        <set-variable value="#[attributes.queryParams.batchId]" doc:name="batchId" doc:id="0b5131f7-1b12-46cb-99c6-3b86babe6bd2" variableName="batchId" />
        <flow-ref doc:name="get-batch-info" doc:id="600f3774-dde4-4963-8b40-7684f77822e7" name="get-batch-info" />
        <logger level="INFO" doc:name="Logger" doc:id="80e1267d-b49c-47e8-ac54-8fcdcdc096e2" />
    </flow>
    <flow name="get:\batches:training-master-sapi-config">
        <flow-ref doc:name="get-all-batches" doc:id="3bdd32ca-6cca-4493-9509-2744c4019bb0" name="get-all-batches" />
        <logger level="INFO" doc:name="Logger" doc:id="adbd22d2-e348-4afa-8825-d3eede97f285" />
    </flow>
    <flow name="get:\batch\current:training-master-sapi-config">
        <flow-ref doc:name="get-current-batches" doc:id="e4966850-99e0-4888-9a2d-be4c3d5bdce1" name="get-current-batches" />
        <logger level="INFO" doc:name="Logger" doc:id="e31ec323-db9e-4efe-ac72-9d27a0d901a6" />
    </flow>
    <flow name="get:\batch\trainers:training-master-sapi-config">
        <flow-ref doc:name="get-all-trainers" doc:id="943ce6fd-512b-4b2c-b1c2-ed130e92cbd5" name="get-all-trainers" />
        <logger level="INFO" doc:name="Logger" doc:id="5e654ec8-0c5a-4c77-a25d-ab5b95bd1f18" />
    </flow>
    <flow name="get:\training:training-master-sapi-config">
        <set-variable value="#[attributes.queryParams.email]" doc:name="trainerEmail" doc:id="4003e505-0f83-41b4-abce-b3ea86c670a9" variableName="trainerEmail" />
        <flow-ref doc:name="get-batch-ids" doc:id="9cdc7135-b74c-42b9-99da-d626d6617e57" name="get-batch-ids" />
        <logger level="INFO" doc:name="Logger" doc:id="e3936003-afe4-45d9-9cfd-78cadf1e3f7a" />
    </flow>
    <flow name="get:\(trainerEmail):training-master-sapi-config">
        <set-variable value="#[attributes.uriParams.trainerEmail]" doc:name="trainerEmail" doc:id="0d92b830-7f36-4b3f-87a5-78a19f1682cc" variableName="trainerEmail" />
        <flow-ref doc:name="get-trainer-info" doc:id="79eedb55-f8a4-4b2c-90e4-42c945f6235b" name="get-trainer-info" />
        <logger level="INFO" doc:name="Logger" doc:id="28cc13c0-fad5-419e-b8a9-7f245fd801ce" />
    </flow>
</mule>
